.grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr 1fr;
  grid-template-rows: 0.7fr 1.7fr 0.6fr;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "menu-secundario contenido contenido contenido" 
  "pie-de-pagina pie-de-pagina pie-de-pagina pie-de-pagina";
}

.encabezado {
  display: grid;
  grid-template-columns: 1fr 1.6fr 0.4fr;
  grid-template-rows: 1.4fr 0.6fr;
  grid-template-areas: "titulo titulo logo" "menu-principal menu-principal menu-principal";
  grid-area: encabezado;
  background-color: #AC58FA;
  height: 200px;
  width: 100%;
  padding-top: 7px;
}

@media screen and (max-width: 600px) {
  .left, .main, .right {
    width: 50%; 
  }
}

.logo { grid-area: logo;
        bottom: 0px;
        margin-left: 40px;
         }

.titulo { grid-area: titulo;
          text-align: center;
          font-size: 20px;
          width: 1350px;
         }


.titulo > h1 {
      font-family: "Ink Free";
      font-size: 50px;
      color: black;
}

.menu-principal { grid-area: menu-principal; 
                  background-color: #8A084B;
                  text-align: left;
                  font-size: 15px;
                  bottom: 0px;
                  padding-top: 20px;
                 }

.menu-principal >a {
      font-family: "Ink Free";
      font-weight: bold;
      color:black;
      font-size: 20px;
      margin-left: 28%;
      animation-duration: 3s;
        animation-name: slidein;

    }

.menu-secundario { grid-area: menu-secundario;
                  background-color: #AC58FA;
                  width: 100%;
                  font-size: 30px;


                   }

.menu-secundario >a {
      font-family: "Ink Free";
      font-weight: bold;
      color:black;
}

.menu-secundario >p {
      font-family: "Ink Free";
      font-weight: bold;
      color:black;
}

.contenido { grid-area: contenido;
              background-color: #0B0B3B;
              width: 100%;
              
              }
.contenido>p {
      font-family: "Bookman Old Style";
      text-align: left;
      font-size: 19px;
      margin-top: 30px;
      margin-left: 20px;
      color: white;

}

.contenido>img {
   width:400px;
   float: right;
   margin-top: 40px;
   margin-right: 40px;
 }



.pie-de-pagina {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr;
  grid-template-areas: ".tattooideal tattooideal comentarios localizacion " ".tattooideal tattooideal comentarios localizacion ";
  grid-area: pie-de-pagina;
  background-color: #8A084B;
  bottom: 0px;
  height: 150px;
  width: 100%;
  font-size: 20px;
 

}

 @keyframes slidein {
                from {
                margin-left: 100%;
                 width: 300%
                  }

                to {
                margin-left: 0%;
                width: 100%;
                 }
                }

.tattooideal { grid-area: tattooideal;
              text-align: right;
               margin-top: 20px;
              
                 }

.tattooideal >p >a{
      font-family: "Ink Free";
      font-weight: bold;     
      color: black;


    }
.enviar{
  margin-bottom: 5px;
}

.comentarios { grid-area: comentarios;
                bottom: 0px;
                 margin-left: 100px;
                 margin-top: 20px;
               
                 }

.comentarios >p >a{
      font-family: "Ink Free";
      font-weight: bold;
      color: black;
  
}

.localizacion { grid-area: localizacion;
                bottom: 0px;
                text-align: right;
                 margin-top: 20px;
                 }

.localizacion >p >a{
      font-family: "Ink Free";
      font-weight: bold;
      margin-right: 30px;
      color: black;
 
      }



